.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  background-color: rgb(247, 245, 245);
  width: 300px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 25px;
  box-shadow: 5px 10px rgb(88, 88, 97);
}
.RegisterBtn{
  border-radius: 10%;
  background-color: rgb(67, 67, 136);
  border-color: rgb(67, 67, 136);
  color: white;
  padding: 5px;
}
h1{
  color: rgb(67, 67, 136);
}
a{
  color: rgb(67, 67, 136);
}
.row{
  padding: 10px;
}
input{
  padding: 15px;
  padding-left: 60px;
  border-radius: 5px;
  width: 150px;
}
label{
  font-weight: 500;
  padding-right: 20px;
  margin-bottom: 50px;
}